# InfluxDB v2
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=admin1234
INFLUXDB_ORG=exo
INFLUXDB_BUCKET=exo
INFLUXDB_TOKEN=exo-influxdb-token

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# JMX
TARGET_JMX_HOST=exo
TARGET_JMX_PORT=10001
TARGET_HOSTNAME=exo
TARGET_NODE_ID=NC

# JMXTrans logging
JMXTRANS_LOG_LEVEL=info
